body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.15;
    color: #111;
}
.menu
{
    max-width: 1170px;

}
.headline
{
    text-align: center;
    padding-top: 10px;
}
h3
{
    font-size: 18px;
    color: pink;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid rgb(209, 80, 102);
    display: inline-block;
}
ul.products
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;

}
ul.products li
{
    flex-basis: 25%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
ul.products li img
{
    max-width: 100%;
    height: auto;
}
ul.products li .product-top
{
    position: relative;
    overflow: hidden;
}
ul.products li .product-top .product-thumb 
{
    display: block;
}
ul.products li:hover .product-top .product-thumb img
{
    filter: opacity(80%);
}
ul.products li .product-top .product-thumb img
{
    display: block;
}
ul.products li .product-top a.buy-now
{
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: pink;
    color: aliceblue;
    padding: 10px 0px;
    position: absolute;
    bottom: -36px;
    width: 100%;
    transition: 0.25s ease-in-out;
    opacity: 0.85;
}
ul.products li:hover a.buy-now
{
    bottom: 0px;
}
ul.products li .product-info
{
    padding: 10px 0px;
}
ul.products li .product-info a
{
    display: block;
    text-decoration: none;
}
ul.products li .product-info a.product-cat
{
    font-size: 11px;
    text-transform: uppercase;
    color: gainsboro;
    padding: 3px 0px;
}
ul.products li .product-info a.product-name
{
    color: rgb(206, 52, 78);
    padding: 3px 0px;

}
ul.products li .product-info .product-price
{
    color: black;
    padding: 2px 0px;
    font-weight: 600;
}
